extends layout

block content
  h1= title
  -

    const IceCream = [
      {
      'IceCreamName': "Choclate",
      'Price': "$5",
      'Quantity': "1"
      },
      {
      'IceCreamName': "Butterscotch",
      'Price': "$4"
      'Quantity': "1"
      },
      {
      'IceCreamName': "vanilla",
      'Price': "$3"
      'Quantity': "1"
      },
      ]
  div(class="container-fluid")
  div(class="row")
    each elephant,index in elephants
      div(class="col-sm-2 " onclick=`buy(${index})`) #{elephant.Name} - #{elephant.Cost} - #{elephant.Weight} 
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }     
